<!DOCTYPE HTML>
<html>
	<head>
	<style>
		.prachu{
			margin-left: 40%;
		}
		.prachu1{
			margin-left: 5%;
		}
		.prachu2{
			margin-left: 30%
		}
	</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pooling</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="static/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="static/css/magnific-popup.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div id="colorlib-logo"><a href="/index"><p>Easy Pooling</p></a></div>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
								<li class="active"><a href="/index">Home</a></li>
								<li class="has-dropdown">
									<a>Services</a>
									<ul class="dropdown">
										<li><a href="/pickup">Pickup at bennett</a></li>
										<li><a href="/dropoff">Dropoff at bennett </a></li>
									</ul>
								</li>
								
								<li><a href="/register">Register</a></li>
								
								<li><a href="/about">About</a></li>
								
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<section id="home" class="video-hero" style="height: 700px; background-image: url(static/images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
		<div class="overlay"></div>
			<a class="player" data-property="{videoURL:'https://youtu.be/zvlFKHYu8fs',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1.9, quality:'default'}"></a> 
			<div class="display-t text-center">
				<div class="display-tc">
					<div class="container">
						<div class="col-md-12 col-md-offset-0">
							<div class="animate-box">
								<h2>Searching for a ride buddy???</h2>
								<p>You came to the right place</p>
								<p><a href="/register" class="btn btn-primary btn-lg btn-custom">Register now</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="colorlib-featured">
			<div class="row animate-box">
				<div class="featured-wrap">
					<div class="owl-carousel">
						<div class="item">
							<div class="col-md-8 col-md-offset-2">
								<div class="featured-entry">
									<img class="img-responsive" src="static/images/2.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-8 col-md-offset-2">
								<div class="featured-entry">
									<img class="img-responsive" src="static/images/images.jpeg" alt="">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-8 col-md-offset-2">
								<div class="featured-entry">
									<img class="img-responsive" src="static/images/image1.jpeg" alt="">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-8 col-md-offset-2">
								<div class="featured-entry">
									<img class="img-responsive" src="static/images/1.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


        
		<div class="colorlib-services colorlib-bg-white">
			<div class="container">
				<div class="row">
					<div class="prachu">
					<div class="col-md-4 text-center animate-box">
						<div class="services">
							<span class="icon">
								<i class="icon-browser"></i>
							</span>

							<div class="desc">
								<h3>Find your cab buddy</h3>
								<p>Go to services, choose and fill. Your buddy is waiting for you.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>   
		</div> 
	
		

		<!-- <div id="colorlib-counter" class="colorlib-counters" style="background-image: url(static/images/cover_img_1.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4 col-sm-4 text-center animate-box">
							<div class="counter-entry">
								<span class="icon"><i class="flaticon-ribbon"></i></span>
								<div class="desc">
									<span class="colorlib-counter js-counter" data-from="0" data-to="1500" data-speed="5000" data-refresh-interval="50"></span>
									<span class="colorlib-counter-label">Of customers are satisfied with our professional support</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 text-center animate-box">
							<div class="counter-entry">
								<span class="icon"><i class="flaticon-church"></i></span>
								<div class="desc">
									<span class="colorlib-counter js-counter" data-from="0" data-to="500" data-speed="5000" data-refresh-interval="50"></span>
									<span class="colorlib-counter-label">Amazing preset options to be mixed and combined</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 text-center animate-box">
							<div class="counter-entry">
								<span class="icon"><i class="flaticon-dove"></i></span>
								<div class="desc">
									<span class="colorlib-counter js-counter" data-from="0" data-to="1200" data-speed="5000" data-refresh-interval="50"></span>
									<span class="colorlib-counter-label">Average response time on live chat support channel</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div id="colorlib-subscribe" class="colorlib-subscribe" style="background-image: url(static/images/cover_img_1.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center colorlib-heading animate-box">
						<h2>Already trusted by many users</h2>
						<p>Register yourself and find your cab buddy </p>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-6 col-md-offset-3">
						<div class="row">
							<div class="col-md-12">
							<form class="form-inline qbstp-header-subscribe">
								<div class="col-three-forth">
									<div class="form-group">
										<input type="text" class="form-control" id="email" placeholder="Enter your email">
									</div>
								</div>
								<div class="col-one-third">
									<div class="form-group">
										<button type="submit" class="btn btn-primary">Register Now</button>
									</div>
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		

		<footer id="colorlib-footer">
			
			<div class="container">
				<div class="row row-pb-md">
					<div class="prachu1">
					<div class="col-md-3 colorlib-widget">
						<h4>About Us</h4>
						<p>We are with a moto that if people are going from same destination to some other same destination on daily basis then they should share a vehicle instead of going with separate vehicle</p>
						<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p>
					</div>
					</div>
					<div class="prachu2">
					<div class="col-md-3 colorlib-widget">
						<h4>Information</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="/index"><i class="icon-check"></i> Home</a></li>
								 <li><a href="/pickup"><i class="icon-check"></i>Pickup at Bennett</a></li>
							     <li><a href="/dropoff"><i class="icon-check"></i>Dropoff at Bennett</a></li> 
							    <li><a href="/about"><i class="icon-check"></i> About</a></li>
								<li><a href="/contact"><i class="icon-check"></i> Contact</a></li>
								<!-- <li><a href=""><i class="icon-check"></i> Privacy</a></li> -->
							</ul>
						</p>
					</div>
					</div>

					
					<div class="col-md-3 colorlib-widget">
						<h4>Contact Info</h4>
						<ul class="colorlib-footer-links">
							<li>Bennett University<br>	Plot No 8-11, TechZone<br>	Street 2, Greater Noida
											<br>	Uttar Pradesh, 201310</li>
							<li><a href="tel://1234567920"><i class="icon-phone"></i>8384962437</a></li>
							<li><a href="mailto:easycabpooling@gmail.com"><i class="icon-envelope"></i> easycabpooling@gmail.com</a></li>
							<li><a href="#"><i class="icon-location4"></i>website.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
								 <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><br> 
								 
							</p>
						</div>
					</div>
				</div>
			</div>

		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<!-- YTPlayer -->
	<script src="static/js/jquery.mb.YTPlayer.min.js"></script>
	<!-- Owl carousel -->
	<script src="static/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="static/js/jquery.countTo.js"></script>
	<!-- Main -->
	<script src="static/js/main.js"></script>

	</body>
</html>

